html {
    height: 100%;
}

body {
    background: rgb(0, 249, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

.heart {
    width: 50px;
    height: 50px;
    background: rgb(0, 193, 157);
    transform: rotate(45deg);
    position: absolute;
    opacity: 1;
    transition: opacity 2s ease-out; /* Smooth fade-out effect */
}

.heart .left, .heart .right {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
}

.heart .left {
    background-color: rgb(0, 181, 151);
    left: -25px;
    top: 0px;
}

.heart .right {
    background-color: rgb(0, 165, 102);
    left: 0px;
    top: -25px;
}

h1, h2, h3 {
    color: white;
    position: relative;
}

.panel {
    z-index: 1;
    padding: 40px;
    background: rgba(255, 154, 154, 0.10);
    box-shadow: 0 8px 32px 0 rgb(1, 206, 158);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border-radius: 20px;
}

.buttons {
    margin-top: 20px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
}

.yes {
    background: #059a8e;
    color: white;
}

.no {
    background: #014844;
    color: white;
    position: absolute;
}

